.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

video {
  width: 192px;
  height: 108px;
  /* border: 1px solid black; */
  object-fit: cover;
  border-radius: 5px;
}

#peer-videos {
  display: flex;
  gap: 20px;
}

.peer-container {
  background: #f4f4f4;
  padding: 5px;
  border-radius: 5px;
}
